.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 75%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 5%
    width: 120px
    height: 120px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.bloque-texto-b.extra:before
  content: ''
  display: block
  position: absolute
  opacity: .30
  top: -1%
  bottom: 140px
  left: 65%
  right: 0  

.img:before
  position: absolute
  opacity: .30
  top: -0%
  bottom: 150px
  left: 65%
  right: 0

.bg-50
  background-color: #FFEEEB
  border-radius: 20px

.bg--piel.br_cstm
  background-color: #E4FAF4
  border-radius: 20px

.bg-51
  background-color: #F3F9FF

.bg_cta
  background-color:#0A4E6A 
  border-radius: 10px
  
.BG13
  background-color:#FFE9E6 

.color-secun
  background-color:#E8FAF6 

.color-secund 
  background-color:#EEF1F2

.tarjeta--azul
  background-color: #D4DADC

.color-secunda
  background-color: #FFE9E6

.bg-49
  background-color: #E4E8EA
  border-radius: 0px

.th
  background-color: #FF6148

.bg-52
  background-color: #FFEAE6

.BGR07
  background-color:  #FFEEEB 
  border-radius: 10px

.color-secu
  background-color: #FFF3EA

.bg-55
  background-color: #C9E8E0
  border-radius: 0px 

.color-se
  background-color:#FFE9E6 

.color-bloq
  background-color: #EEF1F2

.flex-wrap
  background-color: #083142
  border-radius: 25px
  padding: 10px

.bg--piel.br_01
  background-color: #FFE5CF
  border-radius: 10px
  padding: 10px

.bg--sandia.br_01
  background-color: #FFE5CF

.color-secundari
  background-color: #FFC8BF
  border-radius: 10px
  padding: 10px

.bg--piel.br
  background-color: #CCD5D8
  border-radius: 10px
  padding: 10px

.tarjetas
  background-color: #F3F9FF

.text-white--hover
  background-color: #FFE5CF

.color-acento-contenid
  background-color: #FFB476

.BGR08
  background-color: #E6E6E6

.w-100.tarjeta1
  background-color: #F3F9FF

.w-100.tarjeta2
  background-color: #FFECDB

.color-serv
  background-color: #FFECDC  


.color-sek
  background-color:#FFE5CF 
  